{% set pagetitle = 'Login with YubiKey'|trans %}
{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" href="{{ asset('css/yubikey.css', 'authyubikey') }}">
{% endblock %}

{% block postload %}
    <script src="{{ asset('js/autofocus.js', 'authyubikey') }}"></script>
{% endblock %}

{% block content %}
    {%- if not isProduction %}

    <div class="message-box warning">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}

    {% if errorCode != null %}
    <div class="message-box error">
        <h3>{{ errorTitle }}</h3>
        <p>{{ errorDesc }}</p>
    </div>
    {% endif %}

    <img id="authyubikey_logo" src="{{ asset('img/logo.jpg', 'authyubikey') }}" alt="">
    <img id="yubikey" src="{{ asset('img/yubikey.jpg', 'authyubikey') }}" alt="YubiKey">

    <h2>{{ pagetitle }}</h2>
    <form action="?" method="post" name="f">
        <p>{{ 'Some service requested authentication. To authenticate, click the button on your YubiKey. The field below should then automatically be filled out with a secure one-time-password.'|trans }}</p>
        <p><input id="otp" type="text" tabindex="2" name="otp" autofocus></p>
    {% for key, value in stateParams %}
        <input type="hidden" name="{{ key|escape('html') }}" value="{{ value|escape('html') }}">
    {% endfor %}
    </form>
{% endblock %}
